<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="css/admin/admin-panel.css"/>
    <link rel="stylesheet" href="css/admin/about.css"/>
    <link rel="stylesheet" href="css/admin/blog.css"/>
    <link rel="stylesheet" href="css/admin/contact.css"/>
    <link rel="stylesheet" href="css/admin/faq.css"/>
    <link rel="stylesheet" href="css/admin/footer.css"/>
    <link rel="stylesheet" href="css/admin/hero.css"/>
    <link rel="stylesheet" href="css/admin/navbar.css"/>
    <link rel="stylesheet" href="css/admin/projects.css"/>
    <link rel="stylesheet" href="css/admin/services.css"/>
    <link rel="stylesheet" href="css/admin/testimonials.css"/>
</head>
<body>
    <%- include('../partials/navbar') %>

    <main>
        <%- body %>  
    </main>

    <%- include('../partials/footer') %>
</body>
</html>
