<link rel="stylesheet" href="/css/admin/form.css">
<section id="add-faq">
  <h2>Add FAQ</h2>
  <form action="/admin/faq" method="POST">
    <label for="question">Question:</label>
    <input type="text" name="question" required />

    <label for="answer">Answer:</label>
    <textarea name="answer" rows="4" required></textarea>

    <button type="submit">Add FAQ</button>
  </form>
</section>
