:root {
  --bg-dark: #111111;
  --text-light: #f2f2f2;
  --accent: #b1a99f;
  --overlay-dark: rgba(0, 0, 0, 0.6);
  --transition-speed: 0.4s;
  --font-primary: 'Helvetica Neue', sans-serif;
}

.services-section {
  background: url('/images/services.jpeg');
  color: var(--text-light);
  padding: 4rem 2rem;
  font-family: var(--font-primary);
}

.section-tag {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text-light);
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.services-heading {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
    font-family: auto;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.service-card {
  position: relative;
  overflow: hidden;
  background-color: #1b1b1b;
  border-radius: 0;
  overflow: hidden;
  transition: transform var(--transition-speed);
  height: 400px;
}

.service-card:hover .image-wrapper img {
  transform: scale(1.1);
  opacity: 0.3;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 0;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  transition: transform var(--transition-speed), opacity var(--transition-speed);
}

.service-info {
    top: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 21rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity var(--transition-speed);
}
.service-card:hover .service-info {
  opacity: 1;
  background: var(--overlay-dark);
}

.service-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text-light);
}

.service-desc {
  font-size: 1rem;
  color: #d2d2d2;
  margin-bottom: 1rem;
}

.service-price {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: var(--accent);
}
.read {
    display: inline-block;
    position: relative;
    bottom: -17px;
    right: 30px;
    padding: 0.5rem 4.2rem;
    color: var(--bg-dark);
    background-color: var(--accent);
    border-radius: 0px;
    font-size: 0.95rem;
    text-decoration: none;
    transition: all var(--transition-speed);
}
.read:hover {
  background-color: #fff;
  color: var(--bg-dark);
  transform: translateY(-2px);
}
