<link rel="stylesheet" href="/css/admin/form.css">
<section id="add-contact">
  <h2>Add Contact</h2>
  <form action="/admin/contact" method="POST">
    <label for="type">Contact Type:</label>
    <input type="text" name="type" placeholder="e.g., Email, Phone, LinkedIn" required />

    <label for="value">Contact Value:</label>
    <input type="text" name="value" placeholder="e.g., user@example.com" required />

    <button type="submit">Add Contact</button>
  </form>
</section>
