<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS DESIGN STUDIO</title>
    <link rel="stylesheet" href="css/guest/guest-panel.css"/>
    <link rel="stylesheet" href="css/guest/about.css"/>
    <link rel="stylesheet" href="css/guest/blog.css"/>
    <link rel="stylesheet" href="css/guest/contact.css"/>
    <link rel="stylesheet" href="css/guest/faq.css"/>
    <link rel="stylesheet" href="css/guest/footer.css"/>
    <link rel="stylesheet" href="css/guest/hero.css"/>
    <link rel="stylesheet" href="css/guest/navbar.css"/>
    <link rel="stylesheet" href="css/guest/projects.css"/>
    <link rel="stylesheet" href="css/guest/services.css"/>
    <link rel="stylesheet" href="css/guest/testimonials.css"/>
</head>
<body>
    <%- include('../partials/navbar') %>

    <main>
        <%- body %>  
    </main>

    <%- include('../partials/footer') %>
</body>
</html>
